<html>
<head>
    <title>Examples of Backbone.Filter module</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
    <script type="text/javascript" src="js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/underscore.js"></script>
    <script type="text/javascript" src="js/libs/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.filter.js"></script>
</head>
<body>
    <h1>Examples of Backbone.Filter module</h1>
    <p>
        See small example of Zoo site:
    </p>

    <div class="zoo">
        <div class="header">Zoo</div>

        <div id="controls" class="controls">
            Show me           
            <a href="#" data-filter="size:big">Big</a> or
            <a href="#" data-filter="size:small">Small</a> or
            <a href="#" data-filter="animal_type:cat">Cats</a> or
            <a href="#" data-filter="animal_type:dog">Dogs</a>.
            <a href="#" data-filter="reset" class="reset">reset</a>
        </div>

        <div id="items" class="items"></div>

    </div>

    <script type="text/javascript">
        (function () {
            var animals, 
                AnimalModel, AnimalView, Animals,
                simple_filter, multiple_filter;

            animals = [
                {id:1, animal_type: 'cat', size: 'big',   name: 'Marta'},
                {id:2, animal_type: 'cat', size: 'small', name: 'Neliya'},
                {id:3, animal_type: 'cat', size: 'small', name: 'Marusya'},
                {id:4, animal_type: 'dog', size: 'small', name: 'Beem'},
                {id:5, animal_type: 'dog', size: 'big',   name: 'Boom'},
                {id:6, animal_type: 'dog', size: 'big',   name: 'Perl'}
            ];

            AnimalModel = Backbone.Model.extend({
                as_html: function () {
                    return _.template('<%= animal_type %><br><%= size %> <%= name %>', this.toJSON())
                }
            });

            Animals = Backbone.Collection.extend({
                model: AnimalModel
            });

            AnimalView = Backbone.View.extend({
                className: 'item',
                tagName: 'div',

                render: function () {
                    this.$el.html(this.model.as_html());
                    return this;
                }
            });

            filter = new Backbone.Filter({
                match_any       : false,
                single_select   : false,
                control_el      : $('#controls'),
                collection_el   : $('#items'),
                collection      : new Animals(animals),
                itemView        : AnimalView
            });
        }());
    </script>
</body>
</html>
